@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #f8fafc;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Hide Next.js Dev Indicator & Overlay Button */
nextjs-portal,
[data-nextjs-toast],
[data-nextjs-dialog-overlay] {
  display: none !important;
}
